#header {
    font-style: italic;
}

.about {
    float: right;
    padding: 0 15px 15px;
}

.articoli{
    width: 25%;
    height: 100%;
    text-align: center;
    text-transform: capitalize;
    overflow: auto;
}

.articoli li a{
    display: block;
    margin-bottom: 4px;
    padding: 8px;
    background-color: white;
    color: var(--black);
}

.about li a:hover {
    background-color: var(--fakeblack);
    color: white;
}

.read{
    background: white;
    border-radius: 3px;
    width: 72%;
    height: 90vh;
    overflow: auto;
    text-align: center;
    margin: 0px 20px 10px 0;
    float: right;
    padding: 15px;
}

#header{
    padding: 50px;
    background-color: var(--green);
}

@media screen and (max-width: 600px){
    .read,.articoli{
        width: 100%;
        margin-right: 0;
    }
    .articoli {
        border-bottom: 1px solid black;
    }
}