
.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    z-index: 100;
}

.footer-label {
    display: flex;
    justify-content: center;
    background-color: var(--black);
}

.label-container {
    display: flex;
    align-items: center;
    height: 40px;
}

.label-container a {
    color: black;
    margin: 0 10px;
}
i {
    font-size: 32px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    background: url(../imagineilbro.it/ricercaimagine1.jpg) 100% 73%;
    background-size: cover;
}

.f-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 65px  Crete Round;
}

.copyright {
    display: flex;
    justify-content: center;
    color: white;
}

@media (max-width: 600px){
    .f-logo {
        font-size: 35px;
    }
    .label-container{
        height: 30px;
    }
    i{
        font-size: 20px;
    }
    .copyright {
        font-size: 9px;
    }
}

@media screen and (max-width: 992px) and (min-width: 600px){
    .f-logo {
        font-size: 50px;
    }
    .label-container{
        height: 35px;
    }
    i{
        font-size: 28px;
    }
    .copyright {
        font-size: 12px;
    }
}

@media (min-width: 993px){
    .f-logo{
        font-size: 80px;
    }
    .label-container{
        height: 50px;
    }
    i {
        font-size: 40px;
    }
    .copyright {
        font-size: 20px;
    }
}