.header {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid black;
    z-index: 100;
    flex-shrink: 1;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../imagineilbro.it/ricercaimagine1.jpg) 100% 60%;
    background-size: cover;
    font: 65px  Crete Round;
}

#Frontn {
    color: #fff;
}

#punto {
    color: #ff0000;
}

.menu-container {
    display: flex;
    align-items: center;
    height: 40px;
    font: 15px Arial, Helvetic, sans-serif;
    background-color: var(--black);
}

.nav-bar {
    display: flex;
    flex: 8;
    align-items: center;
    justify-content: center;
}
.menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-items li{
    cursor: pointer;
    transition: background-color .2s;
}

.menu-items li a {
    display: flex;
    height: 40px;
    width: 90px;
    justify-content: center;
    align-items: center;    
    color: white;
}

.menu-items li:hover {
    background-color: var(--fakeblack);
}

.search-bar {
    display: flex;
    flex: 1;
    justify-content: center;
}

#search-button {
    width: 0;
    display: flex;
    flex: 1;
    height: 30px;
    padding:5px 5px 5px 35px;
    border-radius: 20px;
    background-image: url(../imagineilbro.it/search.png);
    background-position: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    transition: width .4s;
}

#search-button:hover{
    background-color: #d6d2d2;
    width: 300px;
}
#search-bar:focus{
    border: 3px solid var(--black);
}

.dropdown-btn {
    position: relative;
}
.dropdown-content {
    top: 148px;
    padding: 10px;
    display: none;
    position: absolute;
}
.dropdown:hover .dropdown-content {
    display: flex;
}
.dropdown:hover .dropdown-btn {
    opacity: 0.5;
}

.dropdown:hover .dropdown-content::before {
    content: "";
    position: absolute;
    bottom: 90%;
    left: 20%;
    margin-left: -15px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent var(--fakeblack) transparent;
  }


  @media (max-width: 600px){
    .logo{
        font-size: 35px;
    }
    .menu-container {
        height: 25px;
        font-size: 8px;
    }
    .menu-items li a {
        height: 25px;
        width: 55px;
    }
    .search-bar {
        display: none;
    }
    .dropdown:hover .dropdown-content {
        display: none;
    }
    .dropdown:hover .dropdown-btn {
        opacity: 1;
    }
  }

  @media (max-width: 992px) and (min-width: 601px){
    .logo{
        font-size: 50px;
    }
    .menu-container {
        height: 35px;
        font-size: 15px;
    }
    .nav-bar {
        height: 35px;
    }
    .menu-items li a {
        height: 35px;
        width: 100px;
    }
}

@media (min-width: 993px){
    .logo{
        font-size: 80px;
    }
    .menu-container {
        height: 45px;
        font-size: 20px;
    }
    .menu-items li a {
        height: 45px;
        width: 130px;
    }
}